In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("Churn_Modelling.csv")

In [21]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [22]:
df.drop(columns = ["Surname", "RowNumber", "CustomerId"], axis = 1, inplace = True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x = df.drop("Exited", axis = 1)
y = df["Exited"]

x = pd.get_dummies(x)
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,True,False,False,True,False
1,608,41,1,83807.86,1,0,1,112542.58,False,False,True,True,False
2,502,42,8,159660.80,3,1,0,113931.57,True,False,False,True,False
3,699,39,1,0.00,2,0,0,93826.63,True,False,False,True,False
4,850,43,2,125510.82,1,1,1,79084.10,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,True,False,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,True,False,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,True,False,False,True,False
9998,772,42,3,75075.31,2,1,0,92888.52,False,True,False,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,True,False,False,True,False

In [25]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 43)

In [26]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
xtrain_scaled = scaler.fit_transform(xtrain)
xtest_scaled = scaler.transform(xtest)

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dropout, Dense

In [30]:
model = Sequential()

model.add(Dense(64, input_dim = xtrain_scaled.shape[1], activation = "relu"))
model.add(Dropout(0.5))
model.add(Dense(32, activation = "relu"))
model.add(Dropout(0.5))
model.add(Dense(1, activation = "sigmoid"))

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

history = model.fit(xtrain_scaled, ytrain, epochs = 50, batch_size = 32, validation_data=(xtest_scaled, ytest))

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.6233 - loss: 0.6776 - val_accuracy: 0.7995 - val_loss: 0.4481
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - accuracy: 0.7955 - loss: 0.4757 - val_accuracy: 0.8155 - val_loss: 0.4284
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8025 - loss: 0.4537 - val_accuracy: 0.8185 - val_loss: 0.4215
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.8095 - loss: 0.4380 - val_accuracy: 0.8330 - val_loss: 0.4093
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - accuracy: 0.8213 - loss: 0.4262 - val_accuracy: 0.8385 - val_loss: 0.4015
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 803us/step - accuracy: 0.8294 - loss: 0.4111 - val_accuracy: 0.8415 - val_loss: 0.3912
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - accuracy: 0.8342 - loss: 0.3952 - val_accuracy: 0.8445 - val_loss: 0.3849
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - accuracy: 0.8379 - loss: 0.3884 - val_accuracy: 0.8460 - val_loss: 0.3785
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8478 - loss: 0.3923 - val_accuracy: 0.8520 - val_loss: 0.3725
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 772us/step - accuracy: 0.8466 - loss: 0.3856 - val_accuracy: 0.8520 - val_loss: 0.3684
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.8485 - loss: 0.3818 - val_accuracy: 0.8515 - val_loss: 0.3668
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8472 - loss: 0.3809 - val_accuracy: 0.8555 - val_loss: 0.3636
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8426 - loss: 0.3722 - val_accuracy: 0.8535 - val_loss: 0.3656
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8463 - loss: 0.3744 - val_accuracy: 0.8550 - val_loss: 0.3629
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8459 - loss: 0.3793 - val_accuracy: 0.8560 - val_loss: 0.3591
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.8532 - loss: 0.3548 - val_accuracy: 0.8515 - val_loss: 0.3653
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 803us/step - accuracy: 0.8538 - loss: 0.3730 - val_accuracy: 0.8545 - val_loss: 0.3634
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 779us/step - accuracy: 0.8515 - loss: 0.3629 - val_accuracy: 0.8575 - val_loss: 0.3601
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8579 - loss: 0.3497 - val_accuracy: 0.8565 - val_loss: 0.3587
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8458 - loss: 0.3748 - val_accuracy: 0.8560 - val_loss: 0.3585
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - accuracy: 0.8464 - loss: 0.3767 - val_accuracy: 0.8560 - val_loss: 0.3606
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8536 - loss: 0.3597 - val_accuracy: 0.8575 - val_loss: 0.3578
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.8502 - loss: 0.3657 - val_accuracy: 0.8555 - val_loss: 0.3590
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.8515 - loss: 0.3556 - val_accuracy: 0.8570 - val_loss: 0.3574
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - accuracy: 0.8618 - loss: 0.3543 - val_accuracy: 0.8550 - val_loss: 0.3570
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - accuracy: 0.8482 - loss: 0.3689 - val_accuracy: 0.8560 - val_loss: 0.3556
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8497 - loss: 0.3670 - val_accuracy: 0.8570 - val_loss: 0.3522
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.8526 - loss: 0.3604 - val_accuracy: 0.8570 - val_loss: 0.3578
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8540 - loss: 0.3541 - val_accuracy: 0.8575 - val_loss: 0.3538
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8621 - loss: 0.3519 - val_accuracy: 0.8575 - val_loss: 0.3552
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8627 - loss: 0.3473 - val_accuracy: 0.8565 - val_loss: 0.3560
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8477 - loss: 0.3582 - val_accuracy: 0.8575 - val_loss: 0.3547
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - accuracy: 0.8563 - loss: 0.3562 - val_accuracy: 0.8570 - val_loss: 0.3564
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.8580 - loss: 0.3466 - val_accuracy: 0.8590 - val_loss: 0.3539
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - accuracy: 0.8602 - loss: 0.3494 - val_accuracy: 0.8580 - val_loss: 0.3529
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - accuracy: 0.8546 - loss: 0.3545 - val_accuracy: 0.8595 - val_loss: 0.3505
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - accuracy: 0.8573 - loss: 0.3472 - val_accuracy: 0.8585 - val_loss: 0.3520
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8589 - loss: 0.3546 - val_accuracy: 0.8580 - val_loss: 0.3534
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 779us/step - accuracy: 0.8633 - loss: 0.3354 - val_accuracy: 0.8590 - val_loss: 0.3535
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - accuracy: 0.8636 - loss: 0.3421 - val_accuracy: 0.8575 - val_loss: 0.3534
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - accuracy: 0.8533 - loss: 0.3522 - val_accuracy: 0.8560 - val_loss: 0.3527
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - accuracy: 0.8683 - loss: 0.3404 - val_accuracy: 0.8590 - val_loss: 0.3515
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - accuracy: 0.8628 - loss: 0.3392 - val_accuracy: 0.8575 - val_loss: 0.3513
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8710 - loss: 0.3275 - val_accuracy: 0.8575 - val_loss: 0.3507
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 847us/step - accuracy: 0.8668 - loss: 0.3369 - val_accuracy: 0.8555 - val_loss: 0.3541
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8580 - loss: 0.3526 - val_accuracy: 0.8585 - val_loss: 0.3508
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.8611 - loss: 0.3422 - val_accuracy: 0.8580 - val_loss: 0.3498
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 799us/step - accuracy: 0.8637 - loss: 0.3423 - val_accuracy: 0.8580 - val_loss: 0.3500
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8533 - loss: 0.3653 - val_accuracy: 0.8595 - val_loss: 0.3510
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.8686 - loss: 0.3384 - val_accuracy: 0.8555 - val_loss: 0.3488

In [32]:
from sklearn.metrics import confusion_matrix, accuracy_score

ypred = (model.predict(xtest_scaled) > 0.5).astype("int32")

accuracy = accuracy_score(ytest, ypred)

confusion = confusion_matrix(ytest, ypred)

print(f'Accuracy: {accuracy * 100:.2f}%')
print('Confusion Matrix:')
print(confusion)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step
Accuracy: 85.55%
Confusion Matrix:
[[1538   50]
 [ 239  173]]